.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
}

.current-time {
    font-family: "Neue";
}

.current-time div:nth-child(3) {
    margin: 20px 0px 10px 0px;
}

.current-time div span span {
    font-size: 75px;
    font-weight: bold;
}

#tempo_icon {
    width: 80px;
    height: 80px;
}